<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>DASHBOARD</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand" src="images/nareshit.logo.png"></img>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
			<div>
				<a class=" fw-bold text-dark btn ms-5 me-5" href="dashboard">Home</a> <a
					class="me-5 fw-bold btn text-dark ms-5  me-5" href="add">Add Query</a>
				<a class="me-5 fw-bold btn text-dark ms-5 me-5" href="#">View Query</a>
			</div>
			<form class="d-flex">
        <a class="btn btn-danger fw-bold fs-5" href="logout">Logout</a>
      </form>
    </div>
</nav>
<section class="h-100 gradient-form" style="background-color: #eee;">
		<div class="container py-5 h-100">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-xl-10">
					<div class="card rounded-3 text-black">
						<div class="row g-0">
							<div class="col-lg-6">
								<div class="card-body p-md-5 mx-md-4">

									<div class="text-center">
										<h4 class="mt-1 mb-5 pb-1">Your Performance</h4>
									</div>

									<h2>Total Enquiries : 256 </h2>
									<h2 class="text-success">Enrolled : 84 </h2>
									<h2 class="text-danger">Lost : 172</h2>

								</div>
							</div>
							<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
								<img alt="" src="images/office-girl.jpg" width="100%"  height="100%">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>