<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>VIEW ENQUIRES</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand" src="images/nareshit.logo.png"></img>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
			<div>
				<a class=" fw-bold text-dark btn ms-5 me-5" href="dashboard">Home</a> <a
					class="me-5 fw-bold btn text-dark ms-5  me-5" href="add">Add Queries</a>
				<a class="me-5 fw-bold btn text-dark ms-5 me-5" href="view">View Queries</a>
			</div>
			<form class="d-flex">
        <a class="btn btn-danger fw-bold fs-5" href="logout">Logout</a>
      </form>
    </div>
</nav>
<section>
	<div class="container py-5 h-100">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-xl-10">
					<div class="card rounded-3 text-black">
						<div class="row g-0">
							<div class="col-lg-12">
								<div class="card-body p-md-5 mx-md-4">

									<div class="text-center">
										<h4 class="mt-1 mb-5 pb-1">View Student Enquiries</h4>
									</div>

									<div class="row">
										<div class="col-md-4 form-outline mb-4">
											<label class="form-label" for="form2Example22">Course
											</label> <select id="form2Example22" class="form-select">
												<option>-Select-</option>
												<option>Java Fullstack</option>
												<option>DevOps</option>
												<option>AWS</option>
											</select>
										</div>

										<div class="col-md-4 form-outline mb-4">
											<label class="form-label" for="form2Example22">Enquiry
												Status</label> <select id="form2Example22" class="form-select">
												<option>-Select-</option>
												<option>New</option>
												<option>Enrolled</option>
												<option>Lost</option>
											</select>
										</div>


										<div class="col-md-4 form-outline mb-4">
											<label class="form-label" for="form2Example22">Class
												Mode </label> <select id="form2Example22" class="form-select">
												<option>-Select-</option>
												<option>Online</option>
												<option>Classroom</option>
											</select>
										</div>

									</div>




									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Name</th>
												<th scope="col">Course</th>
												<th scope="col">Number</th>
												<th scope="col">Enquiry Date</th>
												<th scope="col">Status</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">1</th>
												<td>Mark</td>
												<td>Java Fullsack</td>
												<td>+91 - 79797979</td>
												<td>13-Mar-2023</td>
												<td>New</td>
												<td><a href="enquiry" class="btn btn-primary">Edit</a></td>
											</tr>
											<tr>
												<th scope="row">2</th>
												<td>Steve</td>
												<td>DevOps</td>
												<td>+91 - 79797979</td>
												<td>12-Mar-2023</td>
												<td>Enrolled</td>
												<td><a href="enquiry" class="btn btn-primary">Edit</a></td>
											</tr>
											<tr>
												<th scope="row">3</th>
												<td>David</td>
												<td>React JS</td>
												<td>+91 - 79797979</td>
												<td>11-Mar-2023</td>
												<td>Lost</td>
												<td><a href="enquiry" class="btn btn-primary">Edit</a></td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>